/* main.scss */
@import "loadOrder";

/*vars*/
$standardHeight: 60vh;
/*heights*/
.cardHeight{height:40vh;}

.standardHeight {height:$standardHeight;}
.offsetHeight {height:($standardHeight/.9);}
/*banner image*/
#hero {
  background:url('/assets/puzzle.png') no-repeat;
  background-size: cover;
  background-position: 55% 50%;
  height:410px;
  overflow-y:hidden;
    @media(max-width:485px){
    height: 455px;
}
}

  .btn-outline-secondary {
    background: $white;
      &:hover{
        color: $primary
      }
  }

/*navbar things and stuff*/
.navbar {
  width: 100%;
  background: rgba($white,.4) !important;

  /*@media(max-width:991px) {
    background: $black !important;
  }*/
}

  .navbar-toggler {
    cursor: pointer;
    outline: 0;
  }

  .nav-link {
    text-transform:uppercase;
    font-weight:bold
  }

  .nav-item {
    padding: 0 1rem;
      @media(max-width: 991px) {
      padding:0;
    }

    .nav-link {
      @media(max-width: 767px){
        font-weight:normal;
        color: $black !important;
      }
    }
  }

.shadows {
  text-shadow:0px 0px 4px $white;
    @media (max-width: 400px){
      text-shadow: 0px 0px 2px;
    }
}


/* card settings*/
.fa-circle-background{
  color: $yellow;
}

.fa-puzzle-piece{
  font-size: 130%;
}

.fa-envelope {
  font-size:115%;
}

.card{
  background: linear-gradient(to top, $light-orange, $orange);
  min-height: 37.5vh;
}

.circle{
  height: 25%;
  width: 50%;
  background-color: $yellow;
  border-radius: 50%;
  position: relative;
  top: 5%;
}


/*about me section - illustrate photoshop/gimp skills*/
#aboutMe{
  background:  linear-gradient($gray-300,rgba($gray-100, .3)), url('/assets/wood.jpg') no-repeat;
  background-size: cover;
  position:absolute;
  height: ($standardHeight);
  position:relative;
  z-index: -2;
    @media (max-width: 768px){
      height: ($standardHeight*2);
    }
}


.position-absolute{
  right:7%;
  max-height:60vh;
  z-index: -1;
  filter:grayscale(80%);
}

.transparency{
  @media(max-width:768px){
  opacity: .45;
  }
}

.text-muted{
  padding-left: 15px;
  @media(max-width:768px){
    display: none;
  }
}



#qualifications{
  background: linear-gradient(to top,rgba($white, .4),$blue);
}
// /*begin parallax section - qualifications*/
@include parallax-init;

.parallax {
  color: $orange;
  :nth-child(1) {
    @include parallax(-.4);
    top: 10vh;
    left: 20vw;
  }
  :nth-child(2) {
    @include parallax(.2);
    top: 13vh;
    left: 10vw;
  }
  :nth-child(3) {
    @include parallax(.3);
    top: 28vh;
    left: 18vw;
  }
  :nth-child(4) {
    @include parallax(.4);
    top: 10vh;
    left: 35vw;
  }
  :nth-child(5) {
    @include parallax(-2);
    top: -20vh;
    left: -57vw;
  }
  :nth-child(6) {
    @include parallax(.7);
    top: 18vh;
    left: 46vw;
  }
  :nth-child(7) {
    @include parallax(-1);
    top: 30vh;
    right: 5vw;
  }
  :nth-child(8) {
    @include parallax(-.4);
    top: 2vh;
    right: 28vw;
  }
  :nth-child(9) {
    @include parallax(.4);
    bottom: 40vh;
    right: 17vw;
  }
  :nth-child(10) {
    @include parallax(-1);
    top: -20vh;
    right: 5vw;
  }
  padding: 10%;
  max-width: 40em;
  margin: auto;
  > * {
    position: absolute;
  }
}


#additional{
  background-color: $white;
  margin-top: -10%;
}
